.App{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    background-color: $dark-green;
    background-image: url('../../../public/images/app-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    @include breakpoint('desktop'){
        grid-template-rows: 150px auto 150px;
     }
}