.App{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    background-image: url('../../../public/images/app-background.svg');
    background-position: center;
    background-size: 100%;
    background-color: darkslategray;
    min-height: 100vh;
}