.card{
    position: relative;
    width: 100px;
    height: 100px;
    background: #EE89AF;
    transition: transform 0.4s linear;
    will-change: transform;
    transform-style: preserve-3d;
    box-shadow:    0.2px 0px 0.2px hsl(var(--shadow-color) / 0.34),
    1.2px 0px 1.3px -0.4px hsl(var(--shadow-color) / 0.34),
    2.2px 0.1px 2.5px -0.7px hsl(var(--shadow-color) / 0.34),
    3.5px 0.1px 3.9px -1.1px hsl(var(--shadow-color) / 0.34),
    5.7px 0.2px 6.4px -1.4px hsl(var(--shadow-color) / 0.34),
    8.9px 0.3px 10px -1.8px hsl(var(--shadow-color) / 0.34),
    13.5px 0.4px 15.2px -2.1px hsl(var(--shadow-color) / 0.34),
    19.8px 0.6px 22.3px -2.5px hsl(var(--shadow-color) / 0.34);
}

.card.flipped{
    transform: rotateY(-180deg); 
}

.card-face{
    position: absolute;
    width: 100px;
    height: 100px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #EE89AF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    box-sizing: border-box;
}

.card-face.right, .card-face.left{
    width: 10px;
    height: 100%; 
    background-color: #b53a68;
}

.card-face.top, .card-face.bottom{
    width: 100%;
    height: 10px; 
    background-color: #b53a68;
}

.card-face.front{
    transform: rotateY(0deg) translateZ(5px);
}

.card-face.back{
    transform: rotateY(180deg) translateZ(5px);
}

.card-face.right  { 
    right: 0;
    transform: rotateY( 90deg) translateZ(5px); 
}
.card-face.left   { 
    left: 0;
    transform: rotateY(-90deg) translateZ(5px); 
}
.card-face.top    {
    top: 0;
    transform: rotateX( 90deg) translateZ(5px); 
}
.card-face.bottom { 
    bottom: 0;
    transform: rotateX(-90deg) translateZ(5px); 
}

.card img{
    width: 100%;
    height: 100%;
}
