.card{
    position: relative;
    width: 100px;
    height: 100px;
    background: #EE89AF;
    transition: transform 0.6s linear;
    transform-style: preserve-3d;
}

.card.visible{
    transform: rotateY(-180deg); 
}

.card-face{
    position: absolute;
    width: 100px;
    height: 100px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #EE89AF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    box-sizing: border-box;
}

.card-face.right, .card-face.left{
    width: 10px;
    height: 100%; 
    background-color: #b53a68;
}

.card-face.top, .card-face.bottom{
    width: 100%;
    height: 10px; 
    background-color: #8a3857;
}

.card-face.front{
    transform: rotateY(0deg) translateZ(5px);
}

.card-face.back{
    transform: rotateY(180deg) translateZ(5px);
}

.card-face.right  { 
    right: 0;
    transform: rotateY( 90deg) translateZ(5px); 
}
.card-face.left   { 
    left: 0;
    transform: rotateY(-90deg) translateZ(5px); 
}
.card-face.top    {
    top: 0;
    transform: rotateX( 90deg) translateZ(5px); 
}
.card-face.bottom { 
    bottom: 0;
    transform: rotateX(-90deg) translateZ(5px); 
}

.card img{
    width: 100%;
    height: 100%;
}
