header{
    text-align: center;
    background-color: rgba($white, 0.5);
    background-position: center;
    background-size: 100%;
    width: 100%;

    & h1{
        margin-bottom: 0;
        font-family: 'Luckiest Guy', cursive;;
        font-size: 3rem;
        @include breakpoint('tablet'){
            font-size: 4rem;
        }
    }
}
