.cards-grid{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    width: 800px;
    perspective: 600px;
    margin-bottom: 3em;
}