footer {
    width: 100%;
    background-color: $light-green;

    & p {
        margin: 20px;

        & a{
            color: $purple;
        }

        & .authors a{
            margin-left: 5px;

            &:last-child{
                margin-right: 5px
            }
        }
    }
}